---
title: BEAST Topics
tags: [help]
last_updated: July 5, 2017
keywords: documentation topics
summary: "Documentation by topics and keywords."
permalink: beast_topics.html
sidebar: beast_sidebar
folder: beast
---



{% if site.output == "pdf" %}
{{site.data.alerts.note}} The content on this page doesn't display well on PDF, but I included it anyway so you could see the problems this layout poses if you're including it in PDF.  {{site.data.alerts.end}}
{% endif %}

{% unless site.output == "pdf" %}
<script src="js/jquery.shuffle.min.js"></script>
<script src="js/jquery.ba-throttle-debounce.min.js"></script>
{% endunless %}

      <div class="filter-options">
      <button class="btn btn-primary" data-group="all">All</button>
      <button class="btn btn-primary" data-group="getting-started">Getting Started</button>
      <button class="btn btn-primary" data-group="tutorial">Tutorials</button>
      <button class="btn btn-primary" data-group="help">Help</button>
    </div>      

<div id="grid" class="row">

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["getting-started"]'>

               <div class="panel panel-default">
               <div class="panel-heading">Getting started</div>
               <div class="panel-body">
                  Pages to help you get started installing and running BEAST and its associated utilities. 
                  <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% if tag == "getting-started" %}
                  <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %} 
                  </ul>
               </div>
            </div>
    
    </div>
   

    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["tutorial"]'>

        <div class="panel panel-default">
            <div class="panel-heading">Tutorials</div>
            <div class="panel-body">
                Tutorials to introduce common analyses.
                <ul>
                    {% for page in site.pages %}
                    {% for tag in page.tags %}
                    {% if tag == "tutorial" %}
                    <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>



    <div class="col-xs-6 col-sm-4 col-md-4" data-groups='["help"]'>

                <div class="panel panel-default">
               <div class="panel-heading">Help</div>
               <div class="panel-body">
                  General help pages: 
                  <ul>
                {% for page in site.pages %}
                {% for tag in page.tags %}
                {% if tag == "help" %}
                  <li><a href="{{page.url | remove: '/'}}">{{page.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                  </ul>
               </div>
            </div>

    </div>

          <!-- sizer -->
      <div class="col-xs-6 col-sm-4 col-md-1 shuffle_sizer"></div>          


    </div><!-- /#grid -->

{% unless site.output == "pdf" %}
{% include initialize_shuffle.html %}
{% endunless %}


